* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", "Segoe UI", sans-serif;
  color: #1e1e1e;
}

h1,
h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: #000000cc;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 740px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  margin: 0 auto;
}

.wrap-list {
  display: flex;
  background-color: #fdfdfd;
  border-radius: 3px;
  margin-bottom: 20px;
  box-sizing: border-box;
  overflow: hidden;
  letter-spacing: 0;
  min-width: 280px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04), inset 0 0 0 1px rgba(0, 0, 0, 0.09);
}

.wrap-img {
  min-width: 160px;
  min-height: 160px;
  margin: 1px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.detail-list {
  flex: 1;
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
  justify-content: space-between;
}

.detail-list > h2,
.detail-list > p {
  margin-bottom: 10px;
}

.detail-list .detail-date {
  font-size: 13px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #00000096;
}

.detail-list .detail-count {
  margin-right: 10px;
  border-radius: 3px;
}

@media (max-width: 767px) {
  .detail-list {
    padding: 10px 12px 10px;
  }

  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
