body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

.App {
  max-width: 800px;
  margin: 0 auto;
}

.wrapper {
}

.wrap-list {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #dfdede;
  height: 150px;
  background-color: #fdfdfd;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: 1px 3px 5px #d8d8d8;
}

.wrap-list > img {
  height: 99%;
  margin-right: 20px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}

.detail-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail-list > h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.detail-list > p {
  margin-top: 0;
}

.detail-list .detail-date {
  font-size: 14px;
  font-weight: 600;
  font-family: monospace, sans-serif;
  color: #000000b9;
}

.detail-list .detail-count {
  margin-right: 10px;
  border-radius: 3px;
}
